# https://ci.appveyor.com/project/remram44/rpaths
build: false
shallow_clone: true
environment:
  matrix:
    - PYTHON: "C:/Python27"
    - PYTHON: "C:/Python34"
install:
  - ps: (new-object net.webclient).DownloadFile('https://bootstrap.pypa.io/get-pip.py', 'C:/get-pip.py')
  - set PATH=%PYTHON%;%PYTHON%\Scripts;%PATH%
  - python C:/get-pip.py
  - pip install setuptools
  - ".appveyor\\install.bat"
test_script:
  - ".appveyor\\test.bat"
